.core-styling-container{
    display: flex;
    position: relative;
    gap: 0.5em;
    width: 100%;

}

.style-button{
    cursor: pointer;
}

.style-button.active{
    border-radius: 0.5em;
    outline: 0.15em solid var(--secondary-button-outline);
    color: var(--secondary-button-outline);
}
