.highlighting-container{
    display: flex;
    gap: 0.5em;
    width: 100%;
}

.highlight, .palette{
    cursor: pointer;
}

.colour-swatch{
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

#palette-dropdown{
    width: 7em;
}

.highlight.active{
    border-radius: 0.5em;
    outline: 0.15em solid var(--secondary-button-outline);
    color: var(--secondary-button-outline);
}
