.toolbar-container {
    display: flex;
    border: 0.075em solid #fff;
    width: 100%;
    min-width: 0;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: #242424;
}

.toolbar-container button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: transparent;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}

.toolbar-container button:hover{
    background-color: #363636;
    outline: 0.15em solid var(--hover-border);
}

.toolbar-save-status{
    flex-grow: 0;
    flex-shrink: 0;
}